html {
  font-size: 20px;
}

.animate {
  color: rgba(181, 44, 23, 1)!important;
}

.ui-widget-content {
  border-left: none!important;
  border-right: none!important;
}
/* Nav */

nav ul li a {
  color: black;
}

a {
  transition: color 250ms ease;
}

a:hover {
  text-decoration: none;
  color: gold;
}

.home:hover {
  color: black;
}

.navbar-toggler {
  color: white;
  background: white;
}

nav li {
  text-align: right;
}

.navbar-brand img {
  width: 2rem;
  height: 2rem;
  background: white;
}

.navbar-brand object {
  width: 2rem;
  height: 2rem;
}

.navbar-brand {
  display: inline-flex;
}

.navbar-brand span {
  font-weight: 700;
  margin-left: .25rem;
  color: white;
}

#bold {
  font-weight: 700;
}

#light {
  font-weight: 300;
  margin-left: 0;
  opacity: .7;
}

.brand-hover {
  color: red!important;
  font-weight: 800;
}


/* homepage cat pics */

.home-cat-pics {
  width: 100%;
}

.maincatpics {
  text-align: center;
  background-color: red;
  transition: transform 250ms ease-out 100ms;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.maincatpics h3 {
  background-color: whitesmoke;
  padding: 1rem;
  color: black!important;
}

@media only screen and (min-width: 650px) {
  .maincatpics:hover {
    transform: scale(1.25);
}
}

@media only screen and (max-width: 1185.500px) {
  .maincatpics h3 .fa-heart {
    display: none;
  }
}

}

/* jumbotron */

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 4rem;
}

.jumbotron-fluid {
  margin-bottom: 0;
  padding-top: 8rem;
  padding-bottom: 6rem;
}

#jumbo-background {
  background-image: url('./../images/galaxy-noel.jpg')!important;
  background-size: cover;
}

.jumbotron h1 {
  color: whitesmoke;
  font-weight: 700;
}

/* */

.kittens-love {
  background-color: teal;
}

.kittens-love h1 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.li-hover {
  color: purple;
  transform: scale(1.02);
}

/* draggable */
#draggable {
  height: 15rem;
  width: 15rem;
  padding: 0;
}

#draggable img {
  width: 15rem;
  height: 15rem;
}

/* footer */

.footer {
  background-color: white;
}

.footer span {
  font-weight: 300;
  opacity: .7;
  font-size: .9rem;
}
